<div class=" flex flex-col md:flex-row justify-around items-center md:w-[90vw] w-[100vw]  md:h-full h-[80vh]  ">
    <!-- left products cart section  -->
    <div class="flex flex-col items-center justify-around h-[300px] w-[98vw]  md:h-[500px] md:w-[700px] overflow-y-auto ">

        <!-- produst cards -->
        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>

        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>

        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>

        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>

        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>

        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>

        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>

        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>

        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>

        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>

        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>

        <div class="flex border-2 rounded-[15px] bg-[#001C30] w-[95vw]  md:w-[500px] h-20 p-2">

            <!-- cart img  -->

            <div class="h-16 rounded-[15px] md:mr-[7px] overflow-hidden">
                <img src='https://images.unsplash.com/photo-1595624871930-6e8537998592?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
                    alt="Product Image" class="object-cover h-full w-full">

            </div>

            <!-- card details  -->
            <div class="w-full rounded-[15px]">

                <div class="flex justify-between">
                    <div class="flex-col ">
                        <p class="text-[#9BCDD2]">Emporio Armani</p>
                        <p class="text-[10px] text-[#9BCDD2]">Silver Chrono Chain</p>

                    </div>
                    <p class="text-[#9BCDD2]">₹ 1349</p>
                </div>

                <div class="flex justify-between ">

                    <div class="flex">
                        <p class="text-[#9BCDD2]">Quantity :</p>

                        <!-- + input - btn  -->
                        <form class="max-w-xs mx-auto">
                            <div class="relative flex items-center">
                                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M1 1h16" />
                                    </svg>
                                </button>
                                <input type="text" id="counter-input" data-input-counter
                                    class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                    placeholder="" value="12" required />
                                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                    <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M9 1v16M1 9h16" />
                                    </svg>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div></div>

                </div>



            </div>


        </div>




    </div>

    <!-- right products detail section  -->
   

        <div class=" w-80 md:w-[30vw] my-auto   p-4 bg-[#0B2A3B] text-white rounded-lg">
            <div class="flex justify-between mb-4">
              <span>Cart Total</span>
              <span>₹5647</span>
            </div>
            <div class="flex justify-between mb-4">
              <span>Shipping</span>
              <span>FREE</span>
            </div>
            <div class="flex justify-between mb-6">
              <span>Payable Amount</span>
              <span>₹5647</span>
            </div>
            <button (click)="nextRoute()" class="w-full flex justify-center items-center py-2 bg-[#A5DDEB] text-[#0B2A3B] rounded-md hover:bg-[#91c7d3] transition-all">
              Proceed to checkout <span class="ml-1"> <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.50375 0L7.50375 5.335L1.50375 10.67L0 9.33625L4.50375 5.335L0 1.33375L1.50375 0Z" fill="black"/>
                    </svg>
                    

              </span>
            </button>
          </div>
          

</div>


