<div class=" mx-auto h-[500px] px-0.5  rounded-lg shadow-md overflow-y-auto">


    <!-- card  -->
     <div class="flex flex-col p-1 mb-2  bg-[#001c30] justify-center items-center rounded-[10px]">

    
    <div class="flex items-center mt-1 bg-[#001c30] text-[#9BCDD2] p-4 w-[40vw]">
      <img class="w-16 h-16 rounded-[15px] mr-4" src="https://images.unsplash.com/photo-1482849297070-f4fae2173efe?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Emporio Armani Watch">
      <div>
        <div class=" text-[#9BCDD2]  text-xl font-bold">Emporio Armani</div>
        <div class="text-[#9BCDD2] ">Silver Chrono Chain</div>
        <div class="text-[#9BCDD2] ">Delivered 11-May-2023</div>
      </div>
      <div class="ml-auto">
        <svg class="w-10 h-10 text-[#9BCDD2] " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </div>



      
    </div>

    <div class="h-[1px] w-[35vw] bg-[#9BCDD2]"></div>

    <div class="flex flex-col bg-[#001c30] h-[45vh] w-full">

        <!-- order details  -->
        <div class="flex mt-1 justify-between items-center">
            <p class="text-[#9BCDD2]">Order Details</p>
            <div class=" flex flex-col w-[25vw] p-2 bg-[#9BCDD2] rounded-[5px]">
                <div class="flex justify-between">
                    <p class=""> Order Date  </p>
                    <p class="">9-Oct-2022</p>

                </div>
                <div class="flex justify-between">
                    <p class=""> Order Id </p>
                    <p class="">40422881210</p>

                </div>
                <div class="flex justify-between">
                    <p class=""> Order Total  </p>
                    <p class="">₹2399 (1 Item)</p>

                </div>

                

            </div>


        </div>


        <!-- Shipping Address  -->
        <div class="flex mt-1 justify-between items-center">
            <p class="text-[#9BCDD2]">Shipping Address</p>
            <div class=" flex flex-col w-[25vw] p-2 bg-[#9BCDD2] rounded-[5px]">
                <div class="flex justify-between">
                    <p class=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, nihil. Lorem ipsum dolor sit amet.  </p>
                    

               
                </div>

                

            </div>


        </div>


        <!-- Rating & Review  -->
        <div class="flex mt-1 justify-between items-center">
            <p class="text-[#9BCDD2]">Rating & Review</p>
            <div class=" flex flex-col w-[25vw] p-2 bg-[#9BCDD2] rounded-[5px]">
                <div class="flex justify-between items-center">

                    <input class=" w-[15vw] h-[10vh] bg-white rounded-[10px]"  type="text">
                    
                    <div class=" flex flex-col justify-center items-center">

                    <div class="flex justify-center items-center p-2">

                        <svg width="20" height="20" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.68766 7.42708L5.00016 6.63542L6.31266 7.4375L5.96891 5.9375L7.12516 4.9375L5.60433 4.80208L5.00016 3.38542L4.396 4.79167L2.87516 4.92708L4.03141 5.9375L3.68766 7.42708ZM2.42725 9.16667L3.10433 6.23958L0.833496 4.27083L3.8335 4.01042L5.00016 1.25L6.16683 4.01042L9.16683 4.27083L6.896 6.23958L7.57308 9.16667L5.00016 7.61458L2.42725 9.16667Z" fill="black"/>
                        </svg>

                        <svg width="20" height="20" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.68766 7.42708L5.00016 6.63542L6.31266 7.4375L5.96891 5.9375L7.12516 4.9375L5.60433 4.80208L5.00016 3.38542L4.396 4.79167L2.87516 4.92708L4.03141 5.9375L3.68766 7.42708ZM2.42725 9.16667L3.10433 6.23958L0.833496 4.27083L3.8335 4.01042L5.00016 1.25L6.16683 4.01042L9.16683 4.27083L6.896 6.23958L7.57308 9.16667L5.00016 7.61458L2.42725 9.16667Z" fill="black"/>
                        </svg>

                        <svg width="20" height="20" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.68766 7.42708L5.00016 6.63542L6.31266 7.4375L5.96891 5.9375L7.12516 4.9375L5.60433 4.80208L5.00016 3.38542L4.396 4.79167L2.87516 4.92708L4.03141 5.9375L3.68766 7.42708ZM2.42725 9.16667L3.10433 6.23958L0.833496 4.27083L3.8335 4.01042L5.00016 1.25L6.16683 4.01042L9.16683 4.27083L6.896 6.23958L7.57308 9.16667L5.00016 7.61458L2.42725 9.16667Z" fill="black"/>
                        </svg>

                        <svg width="20" height="20" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.68766 7.42708L5.00016 6.63542L6.31266 7.4375L5.96891 5.9375L7.12516 4.9375L5.60433 4.80208L5.00016 3.38542L4.396 4.79167L2.87516 4.92708L4.03141 5.9375L3.68766 7.42708ZM2.42725 9.16667L3.10433 6.23958L0.833496 4.27083L3.8335 4.01042L5.00016 1.25L6.16683 4.01042L9.16683 4.27083L6.896 6.23958L7.57308 9.16667L5.00016 7.61458L2.42725 9.16667Z" fill="black"/>
                        </svg>

                        <svg width="20" height="20" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.68766 7.42708L5.00016 6.63542L6.31266 7.4375L5.96891 5.9375L7.12516 4.9375L5.60433 4.80208L5.00016 3.38542L4.396 4.79167L2.87516 4.92708L4.03141 5.9375L3.68766 7.42708ZM2.42725 9.16667L3.10433 6.23958L0.833496 4.27083L3.8335 4.01042L5.00016 1.25L6.16683 4.01042L9.16683 4.27083L6.896 6.23958L7.57308 9.16667L5.00016 7.61458L2.42725 9.16667Z" fill="black"/>
                        </svg>

                                            


                    </div>

                    <button class="bg-[#001C30] w-[7vw]  text-white rounded-[5px]">Share</button>
                     </div>

                   

             
                </div>

                

            </div>


        </div>
     
        




    </div>

    </div>

     <!-- card  -->
     <div class="flex flex-col p-1 mb-2  bg-[#001c30] justify-center items-center rounded-[10px]">

    
        <div class="flex items-center mt-1 bg-[#001c30] text-[#9BCDD2] p-4 w-[40vw]">
          <img class="w-16 h-16 rounded-[15px] mr-4" src="https://images.unsplash.com/photo-1482849297070-f4fae2173efe?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Emporio Armani Watch">
          <div>
            <div class=" text-[#9BCDD2]  text-xl font-bold">Emporio Armani</div>
            <div class="text-[#9BCDD2] ">Silver Chrono Chain</div>
            <div class="text-[#9BCDD2] ">Delivered 11-May-2023</div>
          </div>
          <div class="ml-auto">
            <svg class="w-10 h-10 text-[#9BCDD2] " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </div>
    
    
    
          
        </div>

    </div>

    

  </div>
  