
@media screen and (max-width: 767px) {
  .side-toggle-men-women{
      display: block;
  }  
}



.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .products-details-scroll-custome{
    /* height: 500px; */
    width: 100vw;
  }

  .custome-img{
    height: 200px;
    width: 100px;
  }

 
  /* slider related css  */


  /* for scrollbar  */

  
/* width */
::-webkit-scrollbar {
  width: 6px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 24px;
}
/* To handle height for vertical scrollbar, you can control the thumb height */
::-webkit-scrollbar-thumb {
  max-height: 200px; /* Minimum height of the thumb handle */
}
