<div class=" flex flex-col items-center h-[500px] w-[50vw] bg-[#001c30] rounded-[15px] mt-[13px]">

    <!-- details -->
    <div class="w-full h-80  flex flex-col justify-center items-center">

        <!-- user name section  -->
        <div class="flex justify-between items-center w-[45vw] mt-5">
            <p class="text-[#9BCDD2] "> Username </p>
            <div class=" ">
                <input  class=" w-[35vw] pl-2 bg-[#9BCDD2] rounded-[5px]" type="text" value="shubham patel">
            </div>

        </div>

         <!-- Email section  -->
         <div class="flex justify-between items-center w-[45vw] mt-5  ">
            <p class="text-[#9BCDD2] "> Email </p>
            <div class=" ">
                <input  class=" pl-2 w-[35vw] bg-[#9BCDD2] rounded-[5px]" type="text" value="shubhamVadhariya@gmail.com">
            </div>

        </div>

         <!-- Password section  -->
         <div class="flex justify-between items-center w-[45vw] mt-5 ">
            <p class="text-[#9BCDD2] "> Password </p>
            <div class=" ">
                <input  class=" pl-2 w-[35vw] bg-[#9BCDD2] rounded-[5px]" type="password" value="shubham patel">
            </div>

        </div>

         <!-- Mobile section  -->
         <div class="flex justify-between items-center w-[45vw] mt-5  ">
            <p class="text-[#9BCDD2] "> Mobile </p>
            <div class="">
                <input  class=" pl-2 w-[35vw] bg-[#9BCDD2] rounded-[5px]" type="text" value="9328788155">
            </div>

        </div>

    </div>

    <!-- btns  -->
    <div class=" w-full flex justify-around items-center">

        <button class="bg-[#9BCDD2] w-[15vw] h-[5vh]  mt-10 rounded-[5px]">
            Edit
        </button>

        <button class="bg-[#9BCDD2] w-[15vw] h-[5vh] mt-10 rounded-[5px]">
            Save
        </button>

        
    </div>

</div>