@media screen and (max-width: 767px) {
    .side-toggle-men-women{
        display: block;
    }
    .mobile-screen{
      display: flex;
      }

    
  }

.owl-car-parent-div-custome{
  width: 90vw;
}

.image-custom{
  height:300px;
}

  