<div class=" mx-auto h-[500px] w-[40vw] px-0.5 bg-[#001C30]  rounded-lg shadow-md overflow-y-auto p-2 pt-40">

    <div>

 

    <div class=" w-full flex flex-col justify-center items-center">
        <p class="text-[30px] text-[#9BCDD2]">Ask us anything !</p>
        <p class="text-[15px] text-[#9BCDD2]">Have any questions? We’re here to assist you.</p>

    </div>

    <div class=" p-4 rounded-lg w-[35] flex items-center">
        <!-- Input Area -->
        <input type="text" placeholder="Ask here......" class="bg-gray-200 rounded-lg p-3 flex-grow outline-none text-black" />
        
        <!-- Button -->
        <button class="ml-4 bg-teal-200 text-black rounded-lg px-4 py-2">
          Send
        </button>
      </div>

    </div>
      

</div>